<h2>New Book</h2>

<%= form_for(@post) do |f| %>
<% if @post.errors.any? %>
	<div id="error_explanation" class="alert alert-danger">
	      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
	      <ul>
	      <% @post.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	</div>
<% end %>
	<div class="field row">
		<label for ="book_title">Title</label>
		<%= f.text_field :title, class: "book_title col-xs-12" %>
	</div>
	<div class="field row">
		<label for ="book_opinion">Opinion</label>
		<%= f.text_area :opinion, class: "book_body col-xs-12" %>
	</div>
	<div class="action row">
		<%= f.submit 'Create Book', :class =>"btn btn-primary col-xs-12" %>
	</div>
<% end %>